<div class="jumbotron">
    <h1>Our Meeting Point</h1>
    <p class="lead">It's a website that users can arrange meeting point with somebody.</p>
    <p class="lead"><a class="btn btn-primary btn-lg" href="/Event/New"><span class="glyphicon glyphicon-plus-sign"></span> Create Event</a></p>
</div>

<div class="row">
    <div class="col-md-8">
        <h2>Usage</h2>
        <p class="lead">Users will select their meeting point on Google Map, and able to share on Facebook or send message on Facebook.</p>
    </div>
    <div class="col-md-4">
        <h2>Github Repository</h2>
        <p><a href="https://github.com/andymememe/OurMeetingPoint" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-globe"></span> Github Repository</a></p>
    </div>
</div>
